---
---

//Setup
*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.clearfix:after
    content: ""
    display: table
    clear: both

$primaryColor: #633393
$heading: "Roboto", Helvetica, sans-serif
$thin: 300
$regular: 400
$medium: 500
$bold: 700


.container
    max-width: 1366px
    margin: 0 auto


header
    height: 375px
    width: 100%
    background-color: $primaryColor
    color: white

    .container
        padding-left: 155px

    h1
        font-family: $heading
        font-weight: $regular
        padding-top: 170px
        font-size: 3.7em
        padding-bottom: 10px

    p
        font-family: $heading
        font-weight: $thin
        font-size: 1.2em
        color: rgba(255, 255, 255, 0.7)

    .nav
        color: white
        list-style: none
        float: right
        margin-top: 45px

        li
            display: inline-block
            margin-right: 20px

        a
            text-decoration: none
            color: rgba(255, 255, 255, 0.7)
            font-family: $heading
            font-weight: $medium
            font-size: 1.2em

            &:hover
                color: white

#course-data
    background-color: pink
    width: 900px
    text-align: left

    .search
        display: block
        width: 100%
        font-size: 24px
        padding: 15px 50px
        color: black

    .hide
        display: none