---
---

//Setup
*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.clearfix:after
    content: ""
    display: table
    clear: both

$primaryColor: #633393
$heading: "Roboto", Helvetica, sans-serif


.container
    max-width: 1366px
    margin: 0 auto


header
    height: 375px
    width: 100%
    background-color: $primaryColor
    color: white

    h1
        font-family: $heading
        font-weight: 400
        padding-top: 170px
        font-size: 3.7em
        padding-bottom: 10px

    p
        font-family: $heading
        font-weight: 300
        font-size: 1.2em
        color: rgba(255, 255, 255, 0.7)

    .nav
        color: white
        list-style: none
        float: right
        margin-top: 45px

        li
            display: inline-block
            margin-right: 20px

        a
            text-decoration: none
            color: rgba(255, 255, 255, 0.7)
            font-family: $heading
            font-weight: 500
            font-size: 1.2em

            &:hover
                color: white